tool-analysis/.ipynb_checkpoints
tool-analysis/extra/.ipynb_checkpoints
tool-analysis/first_validation/.ipynb_checkpoints
tool-analysis/old
thesis_figures.ipynb
extra.ipynb


tool-analysis/extra/

tool/frontend/node_modules
tool/frontend/.DS_Store
tool/frontend/dist
tool/frontend/dist-ssr
tool/*.local
tool/frontend/debug.log
tool/frontend/.idea


tool/inputs/
tool/frontend/__pycache__
__pycache__/
*.py[cod]
*.joblib

tool/backend/sql_app.db
