tool-analysis/.ipynb_checkpoints
thesis_figures.ipynb
extra.ipynb

frontend/node_modules
frontend/.DS_Store
frontend/dist
frontend/dist-ssr
*.local
frontend/debug.log
frontend/.idea


inputs/
frontend/__pycache__
__pycache__/
*.py[cod]
*.joblib

backend/sql_app.db
